<style type="text/css" media="screen">
  .missing_inline { float: right; margin: 0 0 10px 10px; padding: 10px; width: 150px; background: #333; -webkit-border-radius: 4px; }
  .missing_inline h3 { margin: 0 0 5px 0!important; font-size: 14px !important; line-height: 20px !important; font-weight: bold; color: #fff; border-bottom: 1px solid #555 !important; }
  .missing_inline p { font-size: 13px !important; line-height: 18px !important; color: #ccc; }
</style>

<div class="missing_inline">
  <h3>Inline error</h3>
  {% if error %}
  <p>{{ error }}</p>
  {% endif %}
</div>