{% load i18n %}
<div class="remark_form">
  <h2>Post your remark</h2>
  <form action="/remarks/post/" method="post">
  <fieldset>
    <p><label for="id_person_name">{% trans "Your name:" %}</label> <input type="text" id="id_person_name" name="person_name"> <small>*required</small></p>
    <p><label for="id_person_email">{% trans "Your email:" %}</label> <input type="text" id="id_person_email" name="person_email"></p>
    <p><label for="id_person_url">{% trans "Your URL:" %}</label> <input type="text" id="id_person_url" name="person_url"></p>
    <p><label for="id_remark">{% trans "Remark:" %}</label><br><textarea name="remark" id="id_remark" rows="10" cols="60"></textarea></p>
    <p>
      <input type="hidden" name="target" value="{{ target }}">
      <input type="hidden" name="gonzo" value="{{ hash }}">
      <input type="submit" name="preview" value="{% trans "Preview" %}" class="button"> or <input type="submit" name="post" value="{% trans "Post" %}" class="button">
    </p>
  </form>
</div>